$main-background-color: #fff;
$main-menu-color: #fff;
$orange-color: #f15c08;
$font-color: #000;
$page_position: absolute !default; 

/*Font page*/
/* Blocks */
/* Title */
$fp_block_title_font_size: 38px;
$fp_block_title_font_weight: 600;
$fp_block_subtitle_font_size: 38px;
$fp_block_subtitle_font_weight: 100;