/*Font page*/
/* Blocks */
/* Title */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Economica&family=Satisfy&family=Tangerine:wght@400;700&display=swap");
/* line 5, ../../scss/base/_typography.scss */
body {
  font-family: 'Oswald', sans-serif;
}

/* line 1, ../../scss/layout/_header.scss */
.header {
  position: absolute;
  /*absolute;*/
  top: 0;
  width: 100%;
  z-index: 999;
  /* Hide brand logo */
}
/* line 6, ../../scss/layout/_header.scss */
.header .region-header {
  padding: 0;
}
/* line 9, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
/* line 10, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header:after {
  content: none;
}
/* line 19, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header #block-burguermenubutton {
  margin: 0;
  padding-bottom: 25px;
}
/* line 23, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .burger {
  display: inline-block;
  position: fixed;
  right: 50px;
  cursor: pointer;
  z-index: 999;
}
@media only screen and (max-width: 780px) {
  /* line 23, ../../scss/layout/_header.scss */
  .header .clearfix.region.region-header .burger {
    right: 20px;
  }
}
/* line 32, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .burger div {
  background-color: #f15c08;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}
/* line 39, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
/* line 42, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .burger.toggle .line2 {
  opacity: 0;
}
/* line 45, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* line 50, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 550px;
  padding: 10px;
  margin-left: auto;
  position: fixed;
  right: 50px;
}
/* line 60, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation.open {
  display: flex;
}
@media only screen and (max-width: 780px) {
  /* line 50, ../../scss/layout/_header.scss */
  .header .clearfix.region.region-header .block.block-menu.navigation {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
  }
}
/* line 74, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  /* line 74, ../../scss/layout/_header.scss */
  .header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu {
    flex-direction: column;
  }
}
/* line 82, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu .menu-item {
  border: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.59);
}
/* line 86, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu .menu-item:first-child {
  /*border-radius: 5px 0px 0px 5px;*/
}
/* line 89, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu .menu-item:last-child {
  /*border-radius: 0px 5px 5px 0px;*/
}
/* line 92, ../../scss/layout/_header.scss */
.header .clearfix.region.region-header .block.block-menu.navigation .clearfix.menu .menu-item a {
  color: #f15c08;
  border: none;
  font-size: 18px;
  font-family: 'Economica', sans-serif;
}
/* line 104, ../../scss/layout/_header.scss */
.header #block-iotheme-branding {
  display: flex;
  align-content: center;
  align-items: center;
}
/* line 109, ../../scss/layout/_header.scss */
.header #block-iotheme-branding .site-branding__logo img {
  width: 80px;
}
/* line 113, ../../scss/layout/_header.scss */
.header #block-iotheme-branding .site-branding__name a {
  text-decoration: none;
  font-family: 'Economica', sans-serif;
  color: #f15c08;
}
/* line 118, ../../scss/layout/_header.scss */
.header #block-iotheme-branding .site-branding__slogan {
  color: white;
}

/* line 1, ../../scss/layout/_highlighted.scss */
.highlighted {
  /* Hide block title */
}
@media only screen and (max-width: 780px) {
  /* line 1, ../../scss/layout/_highlighted.scss */
  .highlighted {
    height: 100vh;
  }
}
/* line 5, ../../scss/layout/_highlighted.scss */
.highlighted .layout-container {
  max-width: 100%;
}
/* line 8, ../../scss/layout/_highlighted.scss */
.highlighted .layout-container.section.clearfix {
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
}
/* line 14, ../../scss/layout/_highlighted.scss */
.highlighted .region.region-highlighted {
  margin: 0 auto;
  width: 100%;
}
/* line 19, ../../scss/layout/_highlighted.scss */
.highlighted .content {
  margin-top: 0;
  position: relative;
}
@media only screen and (max-width: 780px) {
  /* line 22, ../../scss/layout/_highlighted.scss */
  .highlighted .content img {
    height: 100vh;
    object-fit: cover;
  }
}
/* line 28, ../../scss/layout/_highlighted.scss */
.highlighted .content .container_hero_banner {
  position: absolute;
  right: 10%;
  bottom: 40%;
  color: #f15c08;
}
@media only screen and (max-width: 780px) {
  /* line 28, ../../scss/layout/_highlighted.scss */
  .highlighted .content .container_hero_banner {
    right: 20%;
    bottom: 15%;
  }
}
/* line 37, ../../scss/layout/_highlighted.scss */
.highlighted .content .container_hero_banner h1 {
  color: #f15c08;
  font-size: 50px;
  margin-bottom: 0;
}
@media only screen and (max-width: 780px) {
  /* line 37, ../../scss/layout/_highlighted.scss */
  .highlighted .content .container_hero_banner h1 {
    font-size: 28px;
  }
}
/* line 45, ../../scss/layout/_highlighted.scss */
.highlighted .content .container_hero_banner a {
  font-size: 32px;
  font-weight: 200;
  text-decoration: none;
  color: #f15c08;
  border-bottom: none;
  position: relative;
}
/* line 52, ../../scss/layout/_highlighted.scss */
.highlighted .content .container_hero_banner a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f15c08;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
/* line 64, ../../scss/layout/_highlighted.scss */
.highlighted .content .container_hero_banner a:hover::after {
  /*cursor: pointer;*/
  transform: scaleX(1);
  transform-origin: left;
}
/* line 74, ../../scss/layout/_highlighted.scss */
.highlighted #block-hero h2 {
  display: none;
}

/* line 1, ../../scss/layout/_footer.scss */
.site-footer {
  background-color: #1b1919;
  font-family: 'Oswald', sans-serif;
}
/* line 4, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: flex-start;
}
@media only screen and (max-width: 780px) {
  /* line 4, ../../scss/layout/_footer.scss */
  .site-footer .site-footer__top.clearfix {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* line 11, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-first {
  padding: 0;
  width: 100%;
  float: none;
}
/* line 15, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-first #block-contactblock {
  padding-top: 0;
  margin: 0;
}
/* line 18, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-first #block-contactblock h2 {
  margin-top: 0;
}
/* line 23, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  float: none;
  padding: 0;
}
/* line 30, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 {
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: initial;
  border: none;
}
/* line 36, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 h2 {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  border-bottom: solid 1px #cccccc57;
  margin-bottom: 14px;
  color: white;
  font-size: 32px;
}
/* line 44, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 .leaflet-popup-content-wrapper {
  width: max-content;
}
/* line 46, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 .leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: center;
}
/* line 48, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 .leaflet-popup-content-wrapper .leaflet-popup-content .field.field--name-field-partner-image {
  float: none;
}
/* line 53, ../../scss/layout/_footer.scss */
.site-footer .site-footer__top.clearfix .region.region-footer-second #block-views-block-partners-map-block-1 .leaflet-popup-content .node__title a {
  color: black;
  font-size: 18px;
}
/* line 60, ../../scss/layout/_footer.scss */
.site-footer .site-footer__bottom {
  background-color: #1b1919;
}
/* line 63, ../../scss/layout/_footer.scss */
.site-footer .site-footer__bottom #block-footer h2 {
  display: none;
}
/* line 66, ../../scss/layout/_footer.scss */
.site-footer .site-footer__bottom #block-footer .content {
  text-align: center;
}

/*@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/forms';*/
/* line 1, ../../scss/components/_form.scss */
#block-contactblock {
  border: none;
}
/* line 3, ../../scss/components/_form.scss */
#block-contactblock h2 {
  color: white;
  font-size: 32px;
}
/* line 8, ../../scss/components/_form.scss */
#block-contactblock .content label {
  display: none;
}
/* line 11, ../../scss/components/_form.scss */
#block-contactblock .content input {
  width: 100%;
  padding: 10px;
  border-radius: 0px;
}
/* line 16, ../../scss/components/_form.scss */
#block-contactblock .content textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0px;
}
/* line 21, ../../scss/components/_form.scss */
#block-contactblock .content #edit-submit {
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  background: none;
  color: white;
  text-transform: uppercase;
}
/* line 29, ../../scss/components/_form.scss */
#block-contactblock .content #edit-preview {
  display: none;
}

/* line 2, ../../scss/pages/_login.scss */
body.layout-no-sidebars.path-user .header {
  position: static;
}
/* line 10, ../../scss/pages/_login.scss */
body.layout-no-sidebars.path-user .layout-main-wrapper.layout-container.clearfix .layout-main.clearfix .section .region.region-content {
  margin: 0 auto;
  width: 400px;
}
/* line 15, ../../scss/pages/_login.scss */
body.layout-no-sidebars.path-user .layout-main-wrapper.layout-container.clearfix .layout-main.clearfix .section .region.region-content .block.block-system.block-system-main-block .content {
  margin-top: 0;
}
/* line 17, ../../scss/pages/_login.scss */
body.layout-no-sidebars.path-user .layout-main-wrapper.layout-container.clearfix .layout-main.clearfix .section .region.region-content .block.block-system.block-system-main-block .content .user-login-form {
  border: solid 1px #ccc;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
/* line 25, ../../scss/pages/_login.scss */
body.layout-no-sidebars.path-user .layout-main-wrapper.layout-container.clearfix .layout-main.clearfix .section .region.region-content .block.block-system.block-system-main-block .content .user-login-form .button.js-form-submit.form-submit {
  background: transparent;
  width: 100%;
  border-radius: 0;
  padding: 10px;
  border: solid 1px #000;
}

/* line 2, ../../scss/pages/_home.scss */
body.user-logged-in .header {
  display: none;
}

/* line 6, ../../scss/pages/_home.scss */
body.path-frontpage {
  background-color: #fff;
  color: #000;
  /* BEGIN - Generic Styles for blocks on front page */
  /* END - Generic Styles for blocks on front page */
  /* BEGIN - Specific Styles for blocks on front page */
  /* BEGIN - Services Block */
  /* END - Services Block */
  /* BEGIN - Partnerts Block */
  /* END - Partnerts Block */
  /* BEGIN - Case Studies Block */
  /* END - Case Studies Block */
  /* BEGIN - Our Skills Block */
  /* END - Our Skills Block */
  /* END - Specific Styles for blocks on front page */
}
/* line 9, ../../scss/pages/_home.scss */
body.path-frontpage .header {
  position: absolute;
}
/* line 14, ../../scss/pages/_home.scss */
body.path-frontpage .views-element-container.block.block-views {
  height: 100vh;
  background-color: transparent;
}
/* line 17, ../../scss/pages/_home.scss */
body.path-frontpage .views-element-container.block.block-views .homepage-block {
  padding-top: 25px;
}
@media only screen and (max-width: 780px) {
  /* line 14, ../../scss/pages/_home.scss */
  body.path-frontpage .views-element-container.block.block-views {
    height: 100%;
  }
}
/* line 23, ../../scss/pages/_home.scss */
body.path-frontpage .views-element-container.block.block-views .title {
  position: relative;
  font-size: 38px;
  font-weight: 600;
}
@media only screen and (max-width: 780px) {
  /* line 23, ../../scss/pages/_home.scss */
  body.path-frontpage .views-element-container.block.block-views .title {
    font-size: 24px;
  }
}
/* line 30, ../../scss/pages/_home.scss */
body.path-frontpage .views-element-container.block.block-views .title .subtitle {
  font-size: 38px;
  font-weight: 100;
}
@media only screen and (max-width: 780px) {
  /* line 30, ../../scss/pages/_home.scss */
  body.path-frontpage .views-element-container.block.block-views .title .subtitle {
    font-size: 24px;
  }
}
/* line 37, ../../scss/pages/_home.scss */
body.path-frontpage .views-element-container.block.block-views .title:before {
  content: '';
  position: absolute;
  width: 10%;
  background-color: #f15c08;
  height: 4px;
  bottom: 0;
  left: 0;
}
/* line 53, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-services-block-1 .view-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
@media only screen and (max-width: 780px) {
  /* line 53, ../../scss/pages/_home.scss */
  body.path-frontpage #block-views-block-services-block-1 .view-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* line 62, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-services-block-1 .view-content .views-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px rgba(204, 204, 204, 0.479);
  padding: 15px;
  text-align: center;
}
@media only screen and (max-width: 780px) {
  /* line 62, ../../scss/pages/_home.scss */
  body.path-frontpage #block-views-block-services-block-1 .view-content .views-row {
    border: none;
  }
}
/* line 72, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-services-block-1 .view-content .views-row .views-field.views-field-title {
  font-size: 24px;
}
/* line 76, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-services-block-1 .view-content .views-row .field-content a {
  border-bottom: none;
  color: #f15c08;
}
/* line 80, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-services-block-1 .view-content .views-row .field-content p {
  color: #695f59;
}
/* line 91, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-partners-block-1 .view-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 780px) {
  /* line 91, ../../scss/pages/_home.scss */
  body.path-frontpage #block-views-block-partners-block-1 .view-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* line 102, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-partners-block-1 .view-content .views-row {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease;
}
@media only screen and (max-width: 780px) {
  /* line 102, ../../scss/pages/_home.scss */
  body.path-frontpage #block-views-block-partners-block-1 .view-content .views-row {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 117, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-partners-block-1 .view-content .views-row:hover {
  cursor: pointer;
  transform: scale(0.8);
}
/* line 121, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-partners-block-1 .view-content .views-row a {
  border-bottom: none;
}
/* line 132, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .view-content {
  margin-top: 100px;
}
/* line 135, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .views-row {
  /*display: flex;
  justify-content: center;*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  justify-items: center;
  align-content: center;
  padding: 15px;
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 780px) {
  /* line 135, ../../scss/pages/_home.scss */
  body.path-frontpage #block-views-block-case-studies-slide-block-1 .views-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* line 153, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .project-details {
  padding-left: 15px;
}
/* line 155, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .project-details .views-field.views-field-title a {
  color: black;
  border-bottom: none;
  font-size: 42px;
}
/* line 161, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .project-image {
  /*background-color: red;*/
}
/* line 163, ../../scss/pages/_home.scss */
body.path-frontpage #block-views-block-case-studies-slide-block-1 .project-image img {
  width: 500px;
  height: 350px;
}
/* line 172, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .title {
  position: relative;
  font-size: 38px;
  font-weight: 600;
}
@media only screen and (max-width: 780px) {
  /* line 172, ../../scss/pages/_home.scss */
  body.path-frontpage #block-ourskills .title {
    font-size: 24px;
  }
}
/* line 179, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .title .subtitle {
  font-size: 38px;
  font-weight: 100;
}
@media only screen and (max-width: 780px) {
  /* line 179, ../../scss/pages/_home.scss */
  body.path-frontpage #block-ourskills .title .subtitle {
    font-size: 24px;
  }
}
/* line 186, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .title:before {
  content: '';
  position: absolute;
  width: 10%;
  background-color: #f15c08;
  height: 4px;
  bottom: 0;
  left: 0;
}
/* line 196, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .tool-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
/* line 206, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .tool-container.appear {
  opacity: 1;
  transform: translateY(0px);
}
/* line 210, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .tool-container .tool-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  /*.region.region-content {
      opacity: 0;
      transform: translateY(20px);
      transition: 0.5s all ease-in-out;
  }
  .region.region-content.appear {
      opacity: 1;
      transform: translateY(0px);
  }*/
}
/* line 217, ../../scss/pages/_home.scss */
body.path-frontpage #block-ourskills .tool-container .tool-card img {
  width: 150px;
  margin-top: 15px;
  margin: 0 auto;
}

/* line 2, ../../scss/pages/_cursos.scss */
body.path-cursos-disponibles .header {
  position: static;
}

/* line 2, ../../scss/pages/_page_node_type_service.scss */
body.page-node-type-service .header {
  position: static;
}

/* line 2, ../../scss/pages/_page_node_type_case_studies.scss */
body.page-node-type-case-study .header {
  position: static;
}
